/*
	Resetting Defaults
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

/*
	Colors
*/

$dark-blue: #192536;
$html-tags: #e65351;
$attr-names: #7ce656;
$attr-values: #f5cc6b;
$links: #8ed3e6;
$text: #fff;
$white: #fff;

@font-face {
    font-family: "Menlo";
    src: url("fonts/menlo.ttc");
}

body {
	font-family: "Menlo", serif;
    src: url("fonts/menlo.ttc");
	background-color: $dark-blue;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

pre[rel]::before {
	content: attr(rel);
	text-decoration: underline;
	font-size: 24px;
	color: $attr-values;
	padding-bottom: 40px;
	display: block;
}

pre {
	padding: 40px;
	border: 3px solid $white;
	box-shadow: -8px -8px $white;
	background-color: $dark-blue;
	font-size: 16px;
	word-wrap: break;
	padding-bottom: 80px;
	
	span {
		margin-bottom: 5px;
	}
	
	.line {
		margin: -14px 0;
	}
	
	.html-tags {
		color: $html-tags;
	}
	
	.attr-names {
		color: $attr-names;
	}
	
	.attr-values {
		color: $attr-values;
	}
	
	.links {
		color: $links;
	}
	
	.text {
		color: $text;
	}
}

#copyCode {
	width: 0;
	height: 0;
	opacity: 0;
}

.line {
	display: block;
}

.btn-container {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.btn {
	width: 50%;
	height: 60px;
	float: left;
	color: $white;
	background-color: $dark-blue;
	border: 3px solid $white;
	margin-right: -3px;
	outline: none;
	font-size: 24px;
	transition: 0.3s ease-in-out;
}

#btn-copy {
	border-left: none;
	margin-left: 3px;
}

.btn:hover {
	color: $dark-blue;
	background-color: $attr-names;
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

#copy-success {
	width: 100%;
	padding: 20px 0;
	color: $dark-blue;
	background-color: $attr-names;
	box-shadow: -8px -8px $white;
	text-align: center;
	position: absolute;
	bottom: -100px;
	overflow-y: hidden;
	transition: 0.5s ease-in-out;
}

#copy-fail {
	width: 100%;
	padding: 20px 0;
	color: $dark-blue;
	background-color: $html-tags;
	box-shadow: -8px -8px $white;
	text-align: center;
	position: absolute;
	bottom: -100px;
	opacity: 0;
	overflow-y: hidden;
	transition: 0.5s ease-in-out;
}